<a href="{{this.largeImageURL}}">
    <div class="photo-card">
        <img src="{{this.webformatURL}}" alt="{{this.tags}}" loading="lazy" />
        <div class="info">
            <p class="info-item"><b>Likes</b>{{this.likes}}</p>
            <p class="info-item"><b>Views</b>{{this.views}}</p>
            <p class="info-item"><b>Comments</b>{{this.comments}}</p>
            <p class="info-item"><b>Downloads</b>{{this.downloads}}</p>
        </div>
    </div>
</a>